body {
    background-color: #fcfcfc;

}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 20px ;
}

.article {
    display: flex;
    padding: 1rem;
    border-radius: 25px;
    width: 45%;
    height: 45%;
    padding-bottom: 1%;
    padding-top: 1px;
    background-color: #E1EBE3;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titulo {
    border-radius: 20px;
    width: 80;
    font-size: 40px;
    color: black;
    background-color: #73a57d;
    text-align: center;
    position: sticky;
    top: 0px;
}

button {
    border-radius: 25px;
    height: 25px;
    width: 45%;
    background-color:#b79c8f ;
    border: none;
}

button:hover {
    background-color: #b09181;
    font-variant-position: super;
    padding-bottom: 0;
}

input {
    color: #110505;
    width: 60%;
    border: none;
    background-color: #E1EBE3;
}
input:hover {
    background-color: #d4edd9;
    font-variant: small-caps;
}